[submodule "testing/mars-rover"]
	path = testing/mars-rover
	url = git@github.com:4tronix/mars-rover.git
[submodule "rover-vision"]
	path = rover-vision
	url = git@github.com:bastiankrohg/rover-vision.git
[submodule "rover-protos"]
	path = rover-protos
	url = https://github.com/bastiankrohg/rover-protos.git
[submodule "rover-coral"]
	path = rover-coral
	url = https://github.com/bastiankrohg/rover-coral.git
[submodule "rover-pi"]
	path = rover-pi
	url = https://github.com/bastiankrohg/rover-pi.git
